<article *ngFor="let enviroment of enviroments; index as i;">

    <input 
        type="hidden"
        [name]="'enviromentId_' + i"
        [value]="enviroment.id">

    <input 
        type="text" 
        placeholder="Názov prostredia..." 
        [name]="'enviromentName_' + i"
        [(ngModel)]="enviroment.name"
        (ngModelChange)="change()">

    <button 
        type="button"
        [class]="isLastEnviroment() ? 'disabled' : ''" 
        [name]="'enviromentRemove_' + i"
        [value]="enviroment.id"
        (click)="removeEnviroment($event);"
        >Odstrániť prostredie</button>

    <br>

    <textarea 
        cols="80" rows="5" 
        placeholder="Dátové zdroje..." 
        [name]="'enviromentDatasets_' + i"
        [(ngModel)]="enviroment.datasets"
        (ngModelChange)="change()"></textarea>

</article>