<main (paste)="paste($event)">

    <section>
        <h1>MongoExpressResourceOpener</h1>
    </section>
    
    <section class="centered">
        <component-resource-id #resourceId></component-resource-id>
        <button (click)="submit()">Otvoriť</button>
    </section>

    <section class="error">
        <component-error-inline #resourceError></component-error-inline>
    </section>
    
    <section class="componentElementFix">
        <component-auto-submit-resource-id #autoSubmitResourceId></component-auto-submit-resource-id>
    </section>

    <section class="componentElementFix">
        <component-check-on-all-enviroments></component-check-on-all-enviroments>
    </section>
    
    <section class="componentElementFix">
        <component-select-enviroment></component-select-enviroment>
        <button (click)="openSettings()">Nastavenia</button>
    </section>

</main>

