<main (paste)="paste($event)">

    <section>
        <h1>MongoExpressResourceOpener</h1>
    </section>
    
    <section class="centered">
        <component-resource-id #resourceId></component-resource-id>
        <button (click)="erase()" class="danger" id="erase">X</button>
        <button (click)="submit()">Otvoriť</button>
    </section>

    <section class="error">
        <component-error-inline #resourceError></component-error-inline>
    </section>
    
    <section class="componentElementFix">
        <component-check-on-all-enviroments #checkOnAllEnviroments></component-check-on-all-enviroments>
    </section>
    
    <section [class]="'componentElementFix ' + (isEnviromentSeletDisabled ? 'disabled' : '')">
        <label for="enviromentId">Prostredie:</label>
        <component-select-enviroment></component-select-enviroment>
    </section>

    <section class="right">
        <button (click)="openSettings()">Nastavenia</button>
    </section>

</main>

