<main>

    <section>
        <h1>Nastavenia</h1>
    </section>

    <section>

        <h2>Správanie</h2>

        <article class="componentElementFix">
            <component-auto-submit-resource-id></component-auto-submit-resource-id>
        </article>

        <article class="componentElementFix">
            <component-clear-after-fired></component-clear-after-fired>
        </article>

        <article class="componentElementFix">
            <component-check-on-all-enviroments></component-check-on-all-enviroments>
        </article>

        <article>
            <label for="enviromentId">Aktívne prostredie:</label>
            <component-select-enviroment></component-select-enviroment>
        </article>

    </section>

    <section id="dataSources">

        <h2>Dátové zostavy</h2>
        <i>Oddeľujte jednotlivé URL na dátové zostavy novým riadkom</i>
        
        <component-data-sets #enviroments></component-data-sets>

        <button (click)="addEnviroment()">Pridať ďalšie prostredie</button>

    </section>

    <section class="right">
        <button (click)="saveAndExit()"
                [class]="exitButtonState ? 'disabled' : ''">
            {{ exitButtonState ? 'Ukladám...' : 'Zavrieť' }}
        </button>
    </section>

</main>

